.main-categories__inner {
  padding-top: 71px;
  margin-bottom: 21px;
  &-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-link {
    display: inline-block;
    background-color: $color-text;
    width: 274px;
    height: 274px;
    text-align: center;
    border-radius: 15px;
    padding-top: 70px;
    padding-bottom: 60px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
    background-color: #f9fafb;
    color: $color-primary;

   

    
    &:hover, .main-categories__inner-box:hover {
      background-color: $color-primary;
      color: $color-text;
    }
  }

  &-box {
    color: $color-primary;

    
  }
}

.categories-menu-text {
  margin-top: 12px;
}
