.container {
  max-width: $desktop-l;
  margin: 0 auto;


  @media (max-width: $desktop) {
    max-width: $tablet;
    margin: 0 auto;
  }

  @media (max-width: $tablet) {
    max-width: 100%;
   
  }
}