.main-footer {
  background-color: $color-footer-bg;
}

.main-footer__inner {
  justify-content: center;
  padding-left: 103px;

  &-img img {
    transform: translateY(75%);
  }
  &-box {
    padding: 0;
  }

  &-link {
    display: grid;
    justify-content: center;
    grid-template-columns: 196px 222px 382px;
    grid-template-rows: 1fr 1fr;
    text-align: center;
  }
 
  &-subtitle {
    grid-column-start: -4;
    grid-column-end: -1;
    margin-top: 54px;
    margin-bottom: 30px;
  }

  &-menu li h3 {
    @include menu-link;
    color: $color-primary;
    margin-bottom: 4px;
  }
  &-menu li a, &-subtitle {
    color: $color-secondry;
  }
}
