.main-hero {
  // background-image: url("../img/hero-bacgraund.png");
  // background-repeat: no-repeat;
  // background-position: top right;
  // background-size: contain;

  @media (max-width: $desktop) {
    background-image: url("../img/tablet-ellipse-hero-section.svg");
    background-size: contain;
    background-position: right;
  }

  @media (max-width: $tablet) {
    background-image: url("../img/hero-tablet-bg.svg");
    background-repeat: no-repeat;
    background-position: center ;
    background-size: contain;
  }
}
.main-hero__inner {
  display: flex;
  padding: 170px 7px 46px 100px;
  margin-bottom: 77px;
  align-items: center;
  background-image: url("../img/hero-bacgraund.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;

  @media (max-width: $desktop) {
   
    padding: 264.52px 0px 18px 100px;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  @media (max-width: $tablet) {
    flex-direction: column-reverse;
    
  }

  & h2 {
    max-width: 523px;
    color: $color-primary;
    font-size: 96px;
    line-height: 86.24px;
    margin-bottom: 38px;

    @media (max-width: $desktop) {
      max-width: 523px;
      position: relative;
    }

    @media (max-width: $tablet) {
      font-size: 40px;
      line-height: 35.93px;
      text-align: center;
      max-width: 375px;
    }
  }

  & p {
    max-width: 374px;
    color: $color-secondry;
    @include subtitle;

    @media (max-width: $tablet) {
      font-size: 12px;
      line-height: 16.8px;
    }
  }

  &-img img {
    width: 841.62px;
    height: 627.46px;

    @media (max-width: $desktop) {
      width: 290px;
      height: 196px;
      position:absolute ;
    }

    @media (max-width: $tablet) {
       width: 135px;
       height: 100px;
     
    }
  }
}
.hidden {
  display: none;
}