.image-with-text__inner {
  display: flex;
  align-items: flex-end;
  background-image: url("../img/image-with-text-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: right;
  padding: 177px 0px 0px 50px;
  margin: 21px 91px 178px 0px;

  & img {
   width: 601px;
   height: 532px;
   
  }

  &-title {
    margin-left: 120px;
    text-align: right;
    & h2 {
      font-size: 50px;
      color: $color-primary;
      line-height: 54px;
    }
      

    & p {
      font-size: 14px;
      color: $color-secondry;
      line-height: 20px;
      margin-top: 32px;
      margin-bottom: 24px;
      max-width: 374px;
      
      
    }
  
  }
}