.text-image {
  background-image: url("../img/text-img-bg.png");
  background-color: $color-primary;
  margin: 0 auto; 
}

.text-image__inner-title,
.text-image__inner-img {
  width: 50%;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.text-image__inner-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 41px;
}

.text-image__inner {
  display: flex;

  &-title h2 {
    font-weight: 600;
    color: $color-text;
    font-size: 50px;
    line-height: 59.7px;
    letter-spacing: 1%;
    margin-bottom: 30px;
  }
  & a{
    padding: 15px 80px;
  }
}
