// ranglar
$color-menu:#1F2937;
$color-primary: #5FD788;
$color-secondry: #9CA3AF;
$color-text:#FFFFFF;
$color-featured-text:#6B7280;

//shriftlar 
$body-small-size:12px;
$body-small-line:16.2px;
$text-size:14px;
$text-line:19.6px;

// container
$desktop-l:1440px;
$desktop:1200px;
$tablet:768px;


